.body {
  position: relative;
  padding-left: 260px;
  min-height: 100%;
}

.resize-handle {
  text-indent: -9999px;
  position: absolute;
  top: 70px;
  bottom: 60px;
  width: 7px;
  cursor: col-resize;
}

.content {
  padding-top: 70px;
  padding-bottom: 60px;

  .title {
    padding: 27px 52px 26px;
    color: #515ce6;
    font-size: 42px;
    font-weight: bold;
  }
}
