.header {
  position: fixed;
  padding: 22px 24px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #515ce6;
  font-size: 0;
  z-index: 10;

  .logo {
    display: inline-block;
    margin-right: 14px;
    vertical-align: middle;

    img {
      height: 23px;
    }
  }

  .project-name {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    vertical-align: middle;
    line-height: 0.8em;

    a {
      color: #fff;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .version {
    display: inline-block;
    font-size: 16px;
    color: #282153;
    vertical-align: bottom;
  }

  .splitter {
    margin: 0 14px;
    height: 22px;
    background-color: #282153;
  }
}
