.header {
  position: fixed;
  padding: 15px 24px 14px 24px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #515ce6;
  font-size: 0;
  z-index: 10;

  .logo {
    display: inline-block;
    vertical-align: middle;

    img {
      height: 43px;
    }
  }

  .info-wrapper {
    display: inline-block;
    vertical-align: middle;

    &.has-title {
      .splitter {
        margin: 0 11px;
        visibility: hidden;
      }
    }
  }

  .project-name {
    display: inline-block;
    margin-left: 14px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    vertical-align: bottom;
    line-height: 0.8em;

    a {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      vertical-align: middle;
    }
  }

  .version {
    display: inline-block;
    line-height: 0.7em;
    font-size: 16px;
    color: #3039ab;
    vertical-align: bottom;
  }

  .splitter {
    margin: 0 14px;
    width: 2px;
    height: 22px;
    background-color: #3039ab;
  }
}
