.btn-search {
  width: 20px;
  height: 20px;
}

.btn-search {
  .icon {
    position: relative;
    display: inline-block;
    margin: 3px;
    width: 20px;
    height: 20px;
  }

  .oval {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #999;
  }

  .stick {
    position: absolute;
    display: inline-block;
    top: 8px;
    left: 10px;
    width: 2px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    background-color: #999;
  }

  &.searching {
    .oval {
      border-color: #515ce6;
    }

    .stick {
      background-color: #515ce6;
    }
  }
}

.btn-toggle {
  width: 48px;
  height: 48px;

  .icon {
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 6px solid #777;
  }

  &.opened {
    .icon {
      border-bottom: 6px solid #777;
      border-top: none;
    }
  }
}
