.nav-item {
  position: relative;
  background-color: #fff;

  a {
    display: block;
    padding: 16px 24px;
    color: #222;
    font-size: 14px;
    text-decoration: none;
  }

  &:hover {
    a {
      color: #515ce6;
    }

    .btn-toggle .icon {
      border-top-color: #515ce6;
    }
  }

  &.selected {
    a {
      color: #515ce6;
      font-weight: bold;
    }

    .btn-toggle .icon {
      border-top-color: #515ce6;
    }
  }

  &.has-button {
    padding-right: 60px;
  }

  .btn-toggle {
    position: absolute;
    top: 14px;
    right: 14px;
  }
}

.nav-group {
  .title {
    padding: 17px 24px;
    color: #222;
    font-size: 14px;
    font-weight: bold;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
  }

  &:first-child {
    .title {
      border-top: none;
    }
  }
}

.subnav-group {
  .title {
    padding: 16px 24px 16px 41px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
    border-top: none;
  }

  .nav-item {
    a {
      padding: 16px 24px 16px 61px;
      color: #777;
      font-size: 14px;
      text-decoration: none;
    }

    &:hover,
    &.selected {
      background-color: #edeefc;

      a {
        color: #515ce6;
      }
    }
  }
}

.nav-api {

}

.nav-example {
  .nav-item {
    a {
      font-weight: bold;
    }

    &.selected {
      background-color: #edeefc;
    }
  }
}
