button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  text-align: center;
  font-size: 0;
  cursor: pointer;
}

.btn-search {
  width: 20px;
  height: 20px;
}

.btn-search .icon {
  position: relative;
  display: inline-block;
  margin: 3px;
  width: 20px;
  height: 20px;
}

.btn-search .oval {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 7px;
  border: 2px solid #999;
}

.btn-search .stick {
  position: absolute;
  display: inline-block;
  top: 8px;
  left: 10px;
  width: 2px;
  height: 7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  background-color: #999;
}

.searching .btn-search .oval {
  border-color: #515ce6;
}

.searching .btn-search .stick {
  background-color: #515ce6;
}

.btn-toggle {
  width: 20px;
  height: 20px;
}

.btn-toggle .icon {
  display: inline-block;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid #777;
}

.btn-toggle.opened .icon {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 6px solid #515ce6;
  border-top: none;
}
