html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  min-width: 1024px;
  height: 100%;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.splitter {
  display: inline-block;
  width: 1px;
  text-indent: -9999px;
  vertical-align: middle;
}

.tabs .tab-buttons {
  font-size: 0;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.tabs .tab {
  position: relative;
  padding: 20px 0;
  color: #555;
  font-size: 14px;
  text-align: center;
}

.tabs .tab.selected {
  color: #515ce6;
  font-weight: bold;
}

.tabs .tab:hover:after,
.tabs .tab.selected:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #515ce6;
}

.resize-handle {
  text-indent: -9999px;
  position: absolute;
  top: 70px;
  bottom: 60px;
  width: 7px;
  cursor: col-resize;
}

.header {
  position: fixed;
  padding: 23px 24px;
  top: 0;
  left: 0;
  right: 0;
  background-color: #515ce6;
  font-size: 0;
  z-index: 2;
}

.header .logo {
  display: inline-block;
  margin-right: 14px;
  vertical-align: middle;
}

.header .logo img {
  height: 23px;
}

.header .project-name {
  display: inline-block;
  font-size: 30px;
  color: #fff;
  vertical-align: middle;
  line-height: 0.8em;
}

.header .version {
  display: inline-block;
  font-size: 16px;
  color: #282153;
  vertical-align: bottom;
}

.header .splitter {
  margin: 0 14px;
  height: 22px;
  background-color: #282153;
}

.body {
  position: relative;
  padding-left: 260px;
  min-height: 100%;
}

.footer {
  position: relative;
  margin-top: -60px;
  padding: 23px 24px 22px 24px;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  font-size: 0;
}

.footer .splitter {
  margin: 0 11px;
  height: 11px;
  background-color: #777;
}

.footer .info {
  font-size: 13px;
  color: #777;
  vertical-align: middle;
}

.footer .info a {
  color: #777;
  text-decoration: none;
}

.lnb {
  position: absolute;
  top: 70px;
  bottom: 60px;
  left: 0;
  width: 260px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.lnb .tab-buttons {
  text-align: center;
}

.lnb .tab {
  width: 106px;
}

.search-container {
  position: relative;
}

.search-container .line {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  margin: 0 10px;
  height: 1px;
  background-color: #515ce6;
  border: 0;
  z-index: 3;
  display: none;
}

.search-box {
  padding: 15px 27px 14px 44px;
  border-bottom: 1px solid #ccc;
}

.search-box input {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 18px;
  font-size: 16px;
  color: #222;
  border: 0;
  outline: 0;
}

.search-box input::placeholder {
  color: #aaa;
  font-weight: lighter;
}

.btn-search {
  position: absolute;
  top: 14px;
  left: 21px;
}

.search-list {
  position: absolute;
  top: 48px;
  left: 0;
  right: 0px;
  border-left: 1px solid #515ce6;
  border-right: 1px solid #515ce6;
  border-bottom: 1px solid #515ce6;
  background-color: #fff;
  z-index: 2;
  display: none;
}

.search-list .item {
  padding: 16px 12px 16px 20px;
  font-size: 14px;
}

.search-list .item:hover {
  background-color: #f9f9f9;
}

.search-list .item a {
  margin-right: 12px;
  font-size: 14px;
  color: #222;
  text-decoration: none;
  vertical-align: middle;
}

.search-list .item a:hover {
  text-decoration: underline;
}

.search-list .item strong {
  color: #515ce6;
  text-decoration: underline;
}

.search-list .item span {
  font-size: 12px;
  color: #999;
  vertical-align: middle;
}

.search-container.searching .line,
.search-container.searching .search-list {
  display: block;
}

.search-container.searching .search-box {
  padding-top: 14px;
  padding-bottom: 15px;
  border-top: 1px solid #515ce6;
  border-left: 1px solid #515ce6;
  border-right: 1px solid #515ce6;
  border-bottom: none;
}

.nav-group .title {
  padding: 10px 24px 9px 24px;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

.nav-group:first-child .title {
  border-top: none;
}

.nav-group .nav-item {
  position: relative;
  padding: 16px 24px;
  background-color: #fff;
}

.nav-group .nav-item a {
  color: #222;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.nav-group .nav-item.selected {
  background-color: rgba(81, 92, 230, 0.1)
}

.nav-group .nav-item.has-button {
  padding-right: 60px;
}

.nav-group .nav-item a:hover,
.nav-group .nav-item.selected a {
  color: #515ce6;
}

.nav-group .nav-item .btn-toggle {
  position: absolute;
  top: 15px;
  right: 14px;
}

.subnav-group .title {
  padding: 9px 24px;
  color: #555;
  font-size: 12px;
  font-weight: bold;
  background-color: #fff;
  border-top: none;
}

.subnav-group .item {
  padding: 8px 24px 8px 44px;
}

.subnav-group .item a {
  color: #777;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.subnav-group .item a:hover {
  color: #515ce6;
}

.subnav-group .item.selected a {
  color: #515ce6;
  text-decoration: underline;
}

.content {
  padding-top: 70px;
  padding-bottom: 60px;
}

.content .title {
  padding: 27px 52px;
  color: #515ce6;
  font-size: 42px;
  font-weight: bold;
}

.example .tabs {
  padding: 0 51px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.example .tab {
  margin-right: 10px;
  padding: 23px 8px 17px 8px;
}

.example .tab-content {
  padding: 20px 52px;
}

.example .tab-content.iframe {
  padding: 0;
  height: calc(100vh - 290px);
}

.api .type.number {
  color: #ffbc00;
}

.api .type.string {
  color: #ff6618;
}

.api .type.boolean {
  color: #03bd9e;
}

.api .type.array {
  color: #9bbd1f;
}

.api .type.object {
  color: #dc322f;
}

.api .type.function {
  color: #00a9ff;
}

.api .type.etc {
  color: #b25fff;
}

.api .line {
  padding: 0 52px;
  height: 1px;
  border: none;
  background-color: #ccc;
}

.subsection {
  padding: 40px 52px;
}

.subsection .title {
  padding: 0;
  font-size: 32px;
  font-weight: bold;
  color: #222;
}

.subsection .items {
  margin-top: 4px;
  margin-left: 18px;
  line-height: 1.4em;
  list-style: disc;
}

.subsection .item,
.subsection .item a {
  font-size: 16px;
  font-weight: normal;
  color: #777;
}

.subsection .items,
.subsection .item.inline {
  margin-top: 4px;
}

.subsection-term .title {
  position: relative;
  padding: 0;
  padding-right: 200px;
  font-size: 0;
}

.subsection-term .signiture {
  display: inline-block;
  margin-right: 5px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: normal;
  color: #aaa;
  border: 2px solid #aaa;
  border-radius: 14px;
  vertical-align: middle;
}

.subsection-term .name,
.subsection-term .name a {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
}

.subsection-term .type {
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

.subsection-term .code-info {
  position: absolute;
  right: 0;
  top: 10px;
}

.subsection-term .code,
.subsection-term .code a {
  display: inline-block;
  padding-left: 4px;
  font-size: 14px;
  font-weight: normal;
  color: #777;
  vertical-align: middle;
}

.subsection-term .summary,
.subsection-description .summary,
.subsection-description .description {
  margin-top: 16px;
  font-size: 16px;
  font-weight: normal;
  color: #777;
  line-height: 1.4em;
}

.subsection-description {
  margin-top: 24px;
}

.subsection-description .title {
  margin-top: 24px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.subsection-description .codeblock {
  margin-top: 4px;
}

.subsection-description .params-wrapper {
  overflow-x: auto;
}

.subsection-description .params {
  margin-top: 5px;
  min-width: 1200px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}

.subsection-description .params th {
  padding: 11px 12px 12px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
  text-align: left;
  vertical-align: middle;
  background-color: #ddd;
  border-left: 1px solid #ccc;
}

.subsection-description .params tr {
  border-top: 1px solid #ccc;
}

.subsection-description .params tr:first-child {
  border-top: none;
}

.subsection-description .params td {
  padding: 12px 0;
  vertical-align: middle;
  border-left: 1px solid #ccc;
}

.subsection-description .params th:first-child,
.subsection-description .params td:first-child {
  border-left: none;
}

.subsection-description .params .name {
  padding: 0 12px;
  font-size: 14px;
  font-weight: bold;
  color: #222;
}

.subsection-description .params .types {
  padding: 0 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4em;
}

.subsection-description .params .splitter {
  margin: 0 2px;
  height: 10px;
  background-color: #ccc;
}

.subsection-description .params .description {
  margin: 0;
  padding: 0 12px;
  font-size: 14px;
  font-weight: normal;
  color: #222;
}

.subsection-description .properties {
  margin: 6px 0 0 12px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.subsection-description .properties th {
  padding: 5px 17px 6px 17px;
  background-color: #f4f4f4
}

.subsection-description .properties .title {
  margin: 0;
  padding: 6px 17px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  background-color: #e5e5e5;
}

.overview {
  margin: 0 28px;
  background-color: #f9f9f9;
}

.overview .subsection {
  padding: 28px 33px;
}

.overview .subsection-term .name {
  font-size: 32px;
}
